body {
    margin: 0;
    font-family: 'Indie Flower', cursive;
    background-color: #205375;
}
.wrapper {
    background-color: #205375;
    padding: 30px;
    border: #F66B0E 3px solid;
    border-radius: 50px ;
}

nav {
    color: #EFEFEF;
    font-size: 25px;
}

.header {
    display: grid;
    place-items: center;
    font-size: 15px;
    color: #EFEFEF;
    margin: 16px 0;
}

.content-container {
    border: 1px solid #EFEFEF;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}
.content-container h2 {
    color: #EFEFEF;
    text-align: center;
}

.gameBoard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.move {
    grid-column: 1;
    margin-top: 50px;
    display: grid;
    place-items: center;
}

.move img {
    width: 70px;
}
.move div {
    margin: 16px 0;
    text-align: center;
}
.stone img {
    width: 60px;
    transform: rotate(-125deg);
    transition: transform 500ms;
}
.stone img:hover{
    transform: rotate(-90deg);
}
.paper img {
    transform: rotate(-277deg);
    transition: transform 500ms;
}
.paper img:hover{
    transform: rotate(-237deg);
}
.scissor img:hover {
    transform: rotate(50deg);
    transition: transform 500ms;
}

.versus {
    grid-column: 2;
    display: grid;
    place-items: center;
    color: #F66B0E;
    font-size: 35px;
}
.versus img {
    width: 100px;
}

.moveIA {
    grid-column: 3;
    display: grid;
    place-items: center;
}

.rick img {
    width: 100px;
    transform: scaleX(-1);
}
